@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 3.5rem 0 0 0;
  overflow-x: hidden;
}
.main {
  padding: 1rem 1rem 0;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ff0000;
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  padding: 0 1rem;
  z-index: 100;
}

.header-container {
  display: flex;
  align-items: center;
  height: 3.5rem;
  justify-content: space-between;
}

.header-logo {
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
}

.header-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}
/* END OF HEADER */

/* NAV */
.nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1.5rem 0;
  background-color: #fff;
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: 100;
  transition: 0.5s ease;
}

.nav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none;
}

.nav-container::-webkit-scrollbar {
  display: none;
}

.nav-logo {
  font-weight: 600;
  margin-bottom: 2.5rem;
  font-size: 1.1rem;
  color: #ff0000;
  display: flex;
  align-items: center;
}

.nav-list,
.nav-items {
  display: grid;
}

.nav-list {
  row-gap: 2.5rem;
}

.nav-items {
  row-gap: 1.5rem;
}

.nav-subtitle {
  font-size: 1.05rem;
  font-weight: 600;
  color: #58555e;
  margin: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #58555e;
}

.nav-link:hover {
  color: #ff0000;
}

.nav-icon {
  font-size: 1.2rem;
  margin-right: 0.8rem;
}

.nav-name {
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
}

.nav-logout {
  margin-top: 5rem;
}
/* END OF NAV */

/* HOME */
.home {
  min-height: 100vh;
  display: grid;
}

.home-container {
  display: grid;
  align-content: center;
  row-gap: 2.5rem;
}

.home-data {
  text-align: center;
}

.home-title {
  font-size: 2.3rem;
  margin: 0.75rem 0;
}

.home-img img {
  width: 240px;
  border-radius: 10%;
  transform: scale(1.5);
}

.home-img {
  justify-self: center;
}
.home-subtitle {
  font-size: 1.2rem;
  font-weight: 600;
}
/* END OF HOME */

/* catur */
.heading {
  text-align: center;
}
.heading h2 {
  font-size: 2rem;
  font-weight: 500;
}
.heading span {
  font-size: 1.1rem;
}
.catur-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
.catur-img img {
  margin-left: 4rem;
  width: 80%;
  border-radius: 1rem;
}
.catur-text p {
  font-size: 1.1rem;
  text-align: justify;
}
/* END OF catur */

/* TEKS-domino */
.teks-domino {
  margin-top: 11rem;
}
.domino-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 2rem;
}
.domino-img img {
  margin-left: 4rem;
  width: 30%;
  border-radius: 1rem;
}
.domino-img {
  display: flex;
  justify-content: center;
  margin-left: -4rem;
}
.domino-text p {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  padding: 0 5rem;
}
/* END OF TEKS-domino */

/* CONTACT */
.contact {
  margin: 10rem 0 10rem 0;
}
.contact-form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
form input,
button,
textarea {
  padding: 15px;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  background: #ff0000;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  box-shadow: 0px 4px 4px 0px #101d422a, 0px 1px 4px 0px #101d422a;
  text-align: center;
}

form input::placeholder,
textarea::placeholder {
  color: #fff;
}
form textarea {
  resize: none;
  height: 200px;
}
.contact-button {
  width: 90px;
  padding: 10px;
  cursor: pointer;
  background: #ff0000;
  color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
  font-weight: 600;
}
.contact-button:hover {
  opacity: 0.8;
}
/* END OF CONTACT*/

/* FOOTER */
.footer {
  display: grid;
  place-items: center;
  padding: 50px;
  background: #ff0000;
  color: #fff;
}
.footer h2 {
  font-size: 2rem;
  margin-bottom: 1.4rem;
  font-weight: 600;
}
.footer-social a {
  color: #fff;
  font-size: 26px;
  padding: 10px;
}
.copyright {
  padding: 20px;
  background: #ec0000;
}
.copyright p {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-weight: 500;
}
.copyright i {
  color: #fff;
}
/* END OF FOOTER */

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #ff0000, #fff);
  animation: animate 5s linear infinite;
  border-radius: 10px;
}

#progressbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #ff0000, #fff);
  filter: blur(10px);
  border-radius: 10px;
}

#progressbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #ff0000, #fff);
  filter: blur(30px);
  border-radius: 10px;
}
/* END OF SCROLLBAR */

/* SHOW MENU */
.show-menu {
  left: 0;
}
/* END OF SHOW MENU */

/* BTN */
.btn {
  margin-top: 2rem;
  display: inline-block;
  background: #ff0000;
  color: #fff;
  font-weight: 500;
  padding: 0.9rem 1.2rem;
  border-radius: 30px;
  transition: 0.5s ease;
}
.btn:hover {
  background: #ec0000;
}
/* END OF BTN */

/* ACTIVE */
.active {
  color: #ff0000;
}
/* END OF ACTIVE */

/* RESPONSIVE */
@media screen and (min-width: 1024px) {
  .home-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
  .home-data {
    text-align: initial;
  }
  .home-img img {
    width: 450px;
    margin: -5rem -4rem 0 0;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding: 1rem 3rem 0 6rem;
  }
  .header {
    padding: 0 3rem 0 6rem;
  }
  .header-container {
    height: calc(3.5rem + 0.5rem);
  }
  .header-toggle {
    display: none;
  }
  .header-logo {
    display: block;
  }
  .header-img {
    width: 40px;
    height: 40px;
    order: 1;
  }
  .nav {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 73px;
  }
  .nav-items {
    row-gap: 1.7rem;
  }
  .nav-icon {
    font-size: 1.4rem;
  }

  .nav-logo-name,
  .nav-name,
  .nav-subtitle {
    opacity: 0;
    transition: 0.3s;
  }

  .nav:hover {
    width: 210px;
  }

  .nav:hover .nav-logo-name {
    opacity: 1;
  }
  .nav:hover .nav-subtitle {
    opacity: 1;
  }
  .nav:hover .nav-name {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .header-toggle {
    display: initial;
  }
  .header-logo {
    font-size: 1.3rem;
  }
  .catur-container {
    grid-template-columns: 1fr;
  }
  .catur-img {
    display: flex;
    justify-content: center;
    margin-left: -4rem;
  }
  .domino-img img {
    width: 60%;
  }
  .domino-img {
    display: flex;
    justify-content: center;
  }
  .domino-text p {
    text-align: justify;
    padding: 0;
  }
  .footer-social a,
  .copyright i {
    --fa-animation-duration: none;
  }
  .presidenRI-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    margin-top: 2rem;
  }
  .presidenRI-img:hover {
    transform: none;
  }
  .copyright p {
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  .home-title {
    font-size: 1.7rem;
  }
  .heading h2 {
    font-size: 1.6rem;
  }
  .heading span {
    font-size: 1rem;
  }
  .catur-text p {
    font-size: 1rem;
  }
  .domino-text p {
    font-size: 1rem;
  }
  .domino-img img {
    width: 80%;
  }
  .footer h2 {
    font-size: 1.5rem;
  }
  .presidenRI-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    margin-top: 2rem;
  }
  .footer {
    padding: 40px;
  }
  .copyright p {
    font-size: 14px;
  }
  form input,
  button,
  textarea {
    font-size: 1rem;
  }
}
@media (max-width: 425px) {
  .home {
    margin-top: -2rem;
  }
  .home-img img {
    margin-top: 0;
    width: 180px;
  }
  .home-title {
    font-size: 1.2rem;
  }
  .home-subtitle {
    font-size: 1rem;
  }
  .home-description {
    font-size: 0.9rem;
  }
  .presidenRI-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    margin-top: 2rem;
  }
  .copyright p {
    font-size: 13px;
  }
}
@media (max-width: 375px) {
  .contact-form form {
    width: auto;
  }
  .contact-button {
    width: 90px;
    font-size: 16px;
  }
  .copyright {
    font-size: 12px;
  }
  .footer h2 {
    font-size: 1.3rem;
  }
  form input,
  button,
  textarea {
    font-size: 0.9rem;
  }
}
@media (max-width: 300px) {
  .contact-button {
    width: 85px;
    font-size: 15px;
  }
  .social a {
    font-size: 18px;
  }
  .footer {
    padding: 20px;
  }
  .footer h2 {
    font-size: 1.1rem;
  }
  .footer-social a {
    color: #fff;
    font-size: 22px;
    padding: 10px;
  }
  .copyright {
    padding: 20px;
  }
}
@media (max-width: 270px) {
  body {
    display: none;
  }
}
/* END OF RESPONSIVE */
/* © Created By Ar'raffa */

:root {
  --dark-color: #505050;
  --light-color: #fff;
  --text-color: #3f5963;
  --nav-color: #fff;
  --bg-color: #f5f5f5;
  --color-1: #fff;
  --color-2: #fff;

  --big-font: 2.4rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
  --shadow: 0px 4px 4px 0px #101d422a, 0px 1px 4px 0px #101d422a;
}

/* SALES */
.sales {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2.4rem;
  padding: 4.5rem 0 3rem;
  justify-content: center; /* Center the grid items horizontally */
  text-align: center;
}

.sales-title {
  grid-column: 1 / -1;
  font-size: 2rem;
  margin-bottom: 0.1rem; /* Reduce margin bottom for closer spacing */
}

.sales-subtitle {
  grid-column: 1 / -1;
  font-size: 1rem;
  margin-bottom: 1.5rem; /* Adjust margin-bottom as needed for overall spacing */
}

.sales .box {
  padding: 20px;
  background: #ff0000;
  box-shadow: var(--shadow);
  text-align: center;
  border-radius: 2rem;
  cursor: pointer;
  color: var(--color-2);
  transition: 1s ease;
  width: 100%; /* Ensure boxes take full width of their column */
  max-width: 300px; /* Set a maximum width for the boxes */
}

.sales .box:hover {
  transform: translateY(-10px);
}

.sales .box .bx {
  padding: 10px;
  border-radius: 50%;
  background: #f6f6fe;
  color: var(--dark-color);
  font-size: 20px;
}

.sales .box h3 {
  font-size: 1.1rem;
  margin: 1rem 0 0.4rem;
  text-align: center; /* Center align the title */
}

.sales .box p {
  font-size: 0.938rem;
}

/* END OF SALES */

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 0;
}


#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #305a40, #3f7052);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
}

#progressbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #305a40, #3f7052);
  filter: blur(10px);
}

#progressbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #305a40, #3f7052);
  filter: blur(30px);
}
/* END OF SCROLLBAR */

/* RESPONSIVE */
@media (max-width: 1080px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 1060px) {
  .testimonial-box {
    padding: 10px;
  }
}
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  .about,
  .contact {
    padding: 50px 4%;
  }
}
@media (max-width: 880px) {
  :root {
    --big-font: 2.7rem;
    --medium-font: 1.4rem;
  }
  .home,
  .sales,
  .properties {
    padding: 4rem 0 3rem;
  }

  .properties-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
    padding: 0 10px;
  }
}
@media (max-width: 790px) {
  .testimonial-box {
    width: 100%;
  }
  .testimonial-heading h1 {
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  :root {
    --big-font: 1.6rem;
    --medium-font: 1.2rem;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-img {
    display: flex;
    justify-content: center;
  }
  .information .info-box .fa {
    font-size: 20px;
  }
  .information .info-box span {
    font-size: 19px;
    margin-left: 0.8rem;
  }
  #scrollPath {
    display: none;
  }
  #progressbar {
    display: none;
  }
}
@media (max-width: 442px) {
  .home-text {
    padding-left: 14px;
  }
  .home-text h1 {
    font-size: 1.7rem;
  }
  .properties-container {
    padding: 0;
  }
}
@media (max-width: 400px) {
  .copyright {
    padding: 20px;
    font-size: 15px;
  }
  #scrollPath {
    display: none;
  }
  #progressbar {
    display: none;
  }
}
@media (max-width: 340px) {
  :root {
    --big-font: 1.4rem;
    --medium-font: 1.1rem;
    --p-font: 0.8rem;
  }
  .information .info-box span {
    font-size: 18px;
  }
  .portfolio-content {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  .contact-form form {
    width: auto;
  }
  .contact-button {
    width: 90px;
    font-size: 16px;
  }
  .btn {
    padding: 0.6rem 0.8rem;
    font-size: 14px;
  }
  .copyright {
    padding: 20px;
    font-size: 14px;
  }
  .box-top {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .reviews {
    margin-top: 10px;
  }
}
@media (max-width: 320px) {
  .properties {
    display: none;
  }
}
@media (max-width: 280px) {
  #menu-btn {
    font-size: 28px;
  }
  .logo {
    font-size: 1rem;
  }
  .contact-button {
    width: 85px;
    font-size: 15px;
  }
  .information .info-box i {
    font-size: 17px;
  }
  .information .info-box span {
    font-size: 14px;
    margin-left: 0.6rem;
  }
  .social a {
    font-size: 18px;
  }
  .footer {
    padding: 20px;
  }
  .footer h2 {
    font-size: 1.1rem;
  }
  .footer-social a {
    color: #fff;
    font-size: 22px;
    padding: 10px;
  }
  .copyright {
    padding: 20px;
    font-size: 12px;
  }
}
@media (max-width: 270px) {
  body {
    display: none;
  }
}
/* END OF RESPONSIVE */
/* Copyright © Created By Alttamiz Shahrazad Ar'raffa Purnama */
